{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    {% if items | length > 0 %}

    {% else %}
    <p> Panier vide</p>

<div class="example-wrapper">

</div>
{% endblock %}
