<!DOCTYPE html>
<html>
    <head>


          {% block javascripts %}
              {#{{ encore_entry_script_tags('app') }}#}
          {% endblock %}
          <h1>Ajouter un produit</h1>

            <label for="categorie-select">Choisissez une ou des catégorie(s)</label>

                <select name="categories">
                    <option value="Homme">Homme</option>
                    <option value="Femme">Femme</option>
                    <option value="Enfant">Enfant</option>
                </select>



            {{ include('produit/_form.html.twig') }}

            <a href="{{ path('produit_index') }}">back to list</a>


          </head>
          <body>
              {% block body %}{% endblock %}
          </body>
</html>
